@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

body [xml|lang]{
	font-style: italic;
}

[epub|type~="dedication"]{
	margin-top: 20vh;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:acronym"]{
	font-variant: all-small-caps;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: 1em;
}

.long{
	letter-spacing: .5em;
}

.long + .long{
	text-transform: uppercase;
}

figure{
	break-inside: avoid;
	margin: 1em 40px;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}
